
$border-style-default: solid;
// $border-width-none: 0;
// $border-width-thin: 1px;
$border-width-medium: 2px;
// $border-width-thick: 16px;

$color-light: rgb(255, 255, 255);
$color-dark: rgb(0, 0, 0);
$color-text: rgb(53, 62, 84);
$color-bg-1: rgb(0, 157, 223);
$color-bg-2: rgb(47, 79, 152);
$color-bg-3: rgb(188, 227, 243);
$color-bg-4: rgb(199, 207, 226);

$opacity-semi-opaque: 0.8;
// $opacity-intense: 0.64;
// $opacity-medium: 0.32;
// $opacity-light: 0.16;
// $opacity-semi-transparent: 0.08;

// $border-radius-none: 0;
$border-radius-small: 4px;
$border-radius-medium: 8px;
// $border-radius-large: 24px;
// $border-radius-pill: 500px;
// $border-radius-circle: 50%;

// $shadow-offset-x-none: 0;
// $shadow-offset-y-level-1: 4px;
// $shadow-offset-y-level-2: 8px;
// $shadow-offset-y-level-3: 16px;
// $shadow-offset-y-level-4: 32px;

// $shadow-blur-radius-level-1: 8px;
// $shadow-blur-radius-level-2: 16px;
// $shadow-blur-radius-level-3: 32px;
// $shadow-blur-radius-level-4: 64px;

// $shadow-spread-radius-default: 0;

// $spacing-inline-xxxs: 4px;
$spacing-inline-xxs: 8px;
$spacing-inline-xs: 12px;
$spacing-inline-sm: 16px;
$spacing-inline-md: 32px;
$spacing-inline-lg: 48px;
$spacing-inline-xl: 64px;

// $spacing-inset-xs: 8px;
// $spacing-inset-sm: 16px;
// $spacing-inset-md: 32px;
// $spacing-inset-lg: 48px;

// $spacing-squish-sm: 8px 16px;
$spacing-squish-md: 16px 24px;
// $spacing-squish-lg: 16px 32px;
// $spacing-squish-xl: 32px 48px;

// $spacing-stack-xxxs: 4px;
// $spacing-stack-xxs: 8px;
// $spacing-stack-xs: 16px;
// $spacing-stack-sm: 16px;
// $spacing-stack-md: 32px;
// $spacing-stack-lg: 48px;
// $spacing-stack-xl: 64px;

$font-family-base: 'Source Sans Pro', sans-serif;
// $font-family-highlight: "'Montserrat', 'BlinkMacSystemFont', 'San Francisco', 'Segoe UI', 'Helvetica Neue', sans-serif";

// $font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-sm: 24px;
$font-size-md: 32px;
// $font-size-lg: 48px;
// $font-size-xl: 64px;
// $font-size-xxl: 72px;

$font-weight-regular: 400;
$font-weight-medium: 700;
$font-weight-bold: 900;

$line-height-xxs: 20px;
// $line-height-xs: 24px;
// $line-height-sm: 32px;
// $line-height-md: 40px;
// $line-height-lg: 56px;
// $line-height-xl: 72px;
// $line-height-xxl: 80px;
